<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="Dbconnection" connectionString="Data Source=10.54.48.53,3341;Initial Catalog=FC_MDT;Integrated Security=No;User id=QASuperUser;Password=R@merT3@m_" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
